<a href="https://colab.research.google.com/github/marv2410/21012020/blob/main/Phyton_Parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primera experiencia Python

In [3]:
a=5+5

In [6]:
import math

In [8]:
math.floor(2.3)

2

In [9]:
math.factorial(3)

6

In [10]:
math.fabs(-3)

3.0

In [11]:
import os; import math; import numpy as np

In [12]:
os.mkdir('Data')

In [13]:
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
!wget -O Data/retail_online_sample.xlsx https://github.com/ \
see-ecuador/2020_11_PythonWeekend/blob/main/ \
01_Bases_Python_DataScience/Data/retail_online_sample.xlsx

--2020-11-07 14:49:44--  https://github.com/
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘Data/retail_online_sample.xlsx’

Data/retail_online_     [ <=>                ] 214.82K  --.-KB/s    in 0.05s

2020-11-07 14:49:45 (3.87 MB/s) - ‘Data/retail_online_sample.xlsx’ saved [219980]

--2020-11-07 14:49:45--  http://see-ecuador/2020_11_PythonWeekend/blob/main/
Resolving see-ecuador (see-ecuador)... failed: Name or service not known.
wget: unable to resolve host address ‘see-ecuador’
--2020-11-07 14:49:45--  http://01_bases_python_datascience/Data/retail_online_sample.xlsx
Resolving 01_bases_python_datascience (01_bases_python_datascience)... failed: Name or service not known.
wget: unable to resolve host address ‘01_bases_python_datascience’
FINISHED --2020-11-07 14:49:45--
Total wall clock time: 0.3s
Downloaded: 1 files, 215K in 0.05s (3.87 MB/s)

In [15]:
transacciones = pd.read_excel("/content/Data/retail_online_sample.xlsx",sheet_name='transacciones')

XLRDError: ignored

In [16]:
!gdown --id 1QEBpfA5Lm8yxWdevRBytj6YPaNr0uIkv

Downloading...
From: https://drive.google.com/uc?id=1QEBpfA5Lm8yxWdevRBytj6YPaNr0uIkv
To: /content/retail_online_sample.xlsx
100% 662k/662k [00:00<00:00, 86.5MB/s]

In [18]:
transacciones = pd.read_excel("/content/Data/retail_online_sample.xlsx",sheet_name='transacciones')

In [20]:
productos = pd.read_excel("/content/Data/retail_online_sample.xlsx",sheet_name='productos')

In [21]:
transacciones

      InvoiceNo StockCode  Quantity  ... UnitPrice  CustomerID         Country
0        536378     21931        10  ...       195     14688.0  United Kingdom
1        536382     22379        10  ...        21     16098.0  United Kingdom
2        536394     22866        96  ...       185     13408.0  United Kingdom
3        536395     22866        48  ...        21     13767.0  United Kingdom
4        536398     22866        12  ...        21     13448.0  United Kingdom
...         ...       ...       ...  ...       ...         ...             ...
15672    581538     22992         1  ...       195     14446.0  United Kingdom
15673   C581569     20979        -5  ...       125     17315.0  United Kingdom
15674    581578    84997D         8  ...       415     12713.0         Germany
15675    581578     22992        12  ...       195     12713.0         Germany
15676    581579     21931        10  ...       179     17581.0  United Kingdom

[15677 rows x 7 columns]

In [22]:
productos

   StockCode                          Description
0      23064               CINDERELLA CHANDELIER
1      21002           ROSE DU SUD DRAWSTRING BAG
2      20831                     GOLD PHOTO FRAME
3      22964   3 PIECE SPACEBOY COOKIE CUTTER SET
4      22609              PENS ASSORTED SPACEBALL
..       ...                                  ...
95    47343A      FUSCHIA FLOWER PURSE WITH BEADS
96     22800  ANTIQUE TALL SWIRLGLASS TRINKET POT
97     90188        DROP EARRINGS W FLOWER & LEAF
98     22292     HANGING CHICK  YELLOW DECORATION
99    35913B   WHITE/PINK CHICK EASTER DECORATION

[100 rows x 2 columns]

In [23]:
a= 'Hola Mundo'

In [24]:
a.__class__

str

In [25]:
b=[2,4]

In [26]:
b.__class__

list

In [27]:
transacciones.__class__

pandas.core.frame.DataFrame

In [28]:
type(productos)

pandas.core.frame.DataFrame

In [29]:
transacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15677 entries, 0 to 15676
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    15677 non-null  object
 1   StockCode    15677 non-null  object
 2   Quantity     15677 non-null  int64
 3   InvoiceDate  15677 non-null  object
 4   UnitPrice    15677 non-null  int64
 5   CustomerID   11300 non-null  float64
 6   Country      15677 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 857.5+ KB

In [31]:
productos['Description'][0]

'CINDERELLA CHANDELIER '

In [32]:
productos.Description[0]

'CINDERELLA CHANDELIER '

In [33]:
transacciones[ ['StockCode', 'Quantity', 'Country'] ]

      StockCode  Quantity         Country
0         21931        10  United Kingdom
1         22379        10  United Kingdom
2         22866        96  United Kingdom
3         22866        48  United Kingdom
4         22866        12  United Kingdom
...         ...       ...             ...
15672     22992         1  United Kingdom
15673     20979        -5  United Kingdom
15674    84997D         8         Germany
15675     22992        12         Germany
15676     21931        10  United Kingdom

[15677 rows x 3 columns]

In [34]:
transacciones[ ['StockCode', 'Quantity', 0] ]

KeyError: ignored

In [35]:
transacciones.iloc[[5,6,7]]
# transacciones.loc[[5,6,7]]

  InvoiceNo StockCode  Quantity  ... UnitPrice  CustomerID         Country
5    536401     22767         2  ...       995     15862.0  United Kingdom
6    536401     85150         1  ...       255     15862.0  United Kingdom
7    536401     22068         2  ...       165     15862.0  United Kingdom

[3 rows x 7 columns]

In [36]:
# Filtrar Filas por número usando un slice (sólo iloc)
transacciones.iloc[ 0:4]

  InvoiceNo StockCode  Quantity  ... UnitPrice  CustomerID         Country
0    536378     21931        10  ...       195     14688.0  United Kingdom
1    536382     22379        10  ...        21     16098.0  United Kingdom
2    536394     22866        96  ...       185     13408.0  United Kingdom
3    536395     22866        48  ...        21     13767.0  United Kingdom

[4 rows x 7 columns]

In [37]:
transacciones.loc[ (transacciones["Country"] == "United Kingdom") &
(transacciones["Quantity"] > 10) ]

      InvoiceNo StockCode  Quantity  ... UnitPrice  CustomerID         Country
2        536394     22866        96  ...       185     13408.0  United Kingdom
3        536395     22866        48  ...        21     13767.0  United Kingdom
4        536398     22866        12  ...        21     13448.0  United Kingdom
8        536404     22773        12  ...       125     16218.0  United Kingdom
9        536404     22964        12  ...        21     16218.0  United Kingdom
...         ...       ...       ...  ...       ...         ...             ...
15627    581475     22380        20  ...        79     13069.0  United Kingdom
15631    581488     22179        24  ...       595     17428.0  United Kingdom
15657    581496     20831        12  ...        79     16558.0  United Kingdom
15665    581514    84031B        14  ...       125     17754.0  United Kingdom
15666    581514     22068        14  ...        39     17754.0  United Kingdom

[3007 rows x 7 columns]

In [38]:
transacciones.loc[ (transacciones["Country"] == "United Kingdom") &
(transacciones["Quantity"] > 10) , ['Country', 'Quantity']]

              Country  Quantity
2      United Kingdom        96
3      United Kingdom        48
4      United Kingdom        12
8      United Kingdom        12
9      United Kingdom        12
...               ...       ...
15627  United Kingdom        20
15631  United Kingdom        24
15657  United Kingdom        12
15665  United Kingdom        14
15666  United Kingdom        14

[3007 rows x 2 columns]

In [39]:
sum(transacciones.loc[ (transacciones["Country"] == "United Kingdom") &
(transacciones["Quantity"] > 10) , ['Country', 'Quantity']])

TypeError: ignored

In [40]:
transacciones["InvoiceDate"] = pd.to_datetime(transacciones["InvoiceDate"])
transacciones["CustomerID"] = transacciones["CustomerID"].astype(str)
transacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15677 entries, 0 to 15676
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    15677 non-null  object
 1   StockCode    15677 non-null  object
 2   Quantity     15677 non-null  int64
 3   InvoiceDate  15677 non-null  datetime64[ns]
 4   UnitPrice    15677 non-null  int64
 5   CustomerID   15677 non-null  object
 6   Country      15677 non-null  object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 857.5+ KB

In [42]:
transacciones["CustomerID"] = transacciones["CustomerID"].astype(float)

In [43]:
transacciones= transacciones.merge(productos,
how='left', left_on='StockCode', right_on= 'StockCode')
transacciones.head(5)

  InvoiceNo StockCode  ...         Country                    Description
0    536378     21931  ...  United Kingdom         JUMBO STORAGE BAG SUKI
1    536382     22379  ...  United Kingdom       RECYCLING BAG RETROSPOT
2    536394     22866  ...  United Kingdom  HAND WARMER SCOTTY DOG DESIGN
3    536395     22866  ...  United Kingdom  HAND WARMER SCOTTY DOG DESIGN
4    536398     22866  ...  United Kingdom  HAND WARMER SCOTTY DOG DESIGN

[5 rows x 8 columns]

In [44]:
transacciones.describe()

           Quantity     UnitPrice    CustomerID
count  15677.000000  15677.000000  11300.000000
mean       9.307521    316.796453  15322.559292
std       40.151242    565.844724   1702.753184
min    -2376.000000      0.000000  12347.000000
25%        1.000000     85.000000  13987.500000
50%        3.000000    195.000000  15214.000000
75%       10.000000    375.000000  16838.250000
max     1200.000000   9996.000000  18287.000000

In [46]:
transacciones.Quantity.mean()

9.307520571537921

In [47]:
scipy.stats.trim_mean(transacciones.Quantity , 0.05)

5.603642548366523

In [48]:
transacciones[['Country', 'Quantity']].groupby('Country').mean()

                       Quantity
Country
Australia             69.125000
Austria               12.909091
Bahrain                8.000000
Belgium                8.187500
Canada                 9.333333
Channel Islands        9.200000
Cyprus                 7.125000
Czech Republic        24.000000
Denmark               17.428571
EIRE                  16.668712
Finland               27.000000
France                13.709957
Germany               14.316742
Greece                12.000000
Hong Kong             22.375000
Iceland                8.333333
Israel                16.125000
Italy                  9.727273
Japan                 24.800000
Lebanon                9.000000
Malta                  4.000000
Netherlands           81.617021
Norway                16.588235
Poland                 7.833333
Portugal              10.264706
RSA                    5.000000
Singapore             19.636364
Spain                 26.941176
Sweden                87.050000
Switzerland           10.777778
USA                    7.000000
United Arab Emirates  15.000000
United Kingdom         8.432635
Unspecified            5.666667

In [49]:
transacciones[['Country', 'Quantity']].groupby('Country').mean() transacciones[['Country', 'Quantity']].groupby('Country').mean()

SyntaxError: ignored

In [50]:
## Primero obtenemos la venta resumida por país, año y mes
transacciones['venta_usd']= transacciones.Quantity * transacciones.UnitPrice
transacciones.groupby(['Country', 'periodo'])['venta_usd'].sum().reset_index(name='venta_usd')

KeyError: ignored

In [51]:
transacciones['venta_usd']= transacciones.Quantity * transacciones.UnitPrice
transacciones.groupby(['Country', 'periodo'])['venta_usd'].sum().reset_index(name='venta_usd')

KeyError: ignored